.wrapper-search-form
    form.search-form.search-form-find-number(
        method = "post"
        action= " "
    )
        .search-form__block-header.block-header-find-number
            h1.search-form__header.header-find-number
                | Найдём номера под
                br
                | ваши пожелания
        .search-form__block-date-input
            label.search-form__label
                |Прибытие
                input.search-form__input.background-arrow(
                    id="arrival"
                    placeholder = "ДД.ММ.ГГГГ"
                    autocomplete = "off"
                )
            label.search-form__label
                |Выезд
                input.search-form__input.background-arrow(
                    id="departure"
                    placeholder = "ДД.ММ.ГГГГ"
                    autocomplete = "off"
                )
        .search-form__block-input-type-text.input-with-label
            label.search-form__label
                | Гости
                input.search-form__input.background-arrow(
                    type = "text"
                    id = "guests"
                    placeholder="Сколько гостей"
                )
        .search-form__block-guests-toggle-menu.toggle-block-menu-open#toggleMenu
            .toggle-menu
                h3.toggle-menu__guests-category-person.category-person-adults
                    | Взрослые
                .toggle-menu__guests-bg.bg-minus.bg-minus-adults.bg-disabled.cursor
                input.toggle-menu__input.input-adults(
                        id = "adults"
                        type = "text"
                        value = "0"
                        placeholder = "0"
                )
                .toggle-menu__guests-bg.bg-plus.bg-plus-adults.cursor
                h3.toggle-menu__guests-category-person.category-person-children
                    | Дети
                .toggle-menu__guests-bg.bg-minus.bg-minus-children.bg-disabled.cursor
                input.toggle-menu__input.input-children(
                    id = "children"
                    type = "text"
                    value = "0"
                    placeholder = "0"
                )
                .toggle-menu__guests-bg.bg-plus.bg-plus-children.cursor
                h3.toggle-menu__guests-category-person.category-person-babies
                    | Младенцы
                .toggle-menu__guests-bg.bg-minus.bg-minus-babies.bg-disabled.cursor
                input.toggle-menu__input.input-babies(
                    id = "babies"
                    type = "text"
                    value = "0"
                    placeholder = "0"
                )
                .toggle-menu__guests-bg.bg-plus.bg-plus-babies.cursor
                button.toggle-menu__button.button-clear.button-clear-hidden.cursor(
                    id = "butClear"
                    type = "button"
                )
                    | очистить
                button.toggle-menu__button.button-apple.cursor(
                   id = "butApple"
                   type = "button"
                )
                    |применить
        .search-form__block-submit
            input.search-form__submit(
                type = "submit"
                value = "подобрать номер"
            )
            div.background-forward