@import "../Utils_Scss/fonts";

//color
$darkShade : #1F2041;
$purple    : #BC9CFF;
$green     : #6FCF97;
$white     : #FFFFFF;
$blue      : #8BA4F9;
$black     : #000000;

//font
$Mons      : "Montserrat",sans-serif;
$Quick    : "Quicksand",sans-serif;

//font-size
$fontSizeH1   : 24px;
$fontSizeH2   : 19px;
$fontSizeH3   : 12px;
$fontSizeBody : 14px;

//font-line-height
$lineHeightH1   : 29px;
$lineHeightH2   : 23px;
$lineHeightH3   : 15px;
$lineHeightBody : 24px;

//width
$inputDateWidth    : 150px;
$inputTextWidth    : 320px;
$buttonSubmitWidth : 320px;
$buttonWidth       : 99px;
$radioInputWidth   : 20px;
$radioLabelWidth   : 80px;

//height
$inputHeight       : 44px;
$radioInputHeight  : 20px;
$radioLabelHeight  : 24px;

